@mixin flex ($justifyContent:flex-start, $alignItems:flex-start, $flexDirection:row ) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin position ($position, $top:auto, $right:auto,$bottom:auto, $left:auto ) {
  position: $position;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}

@mixin width-height ($width:auto, $height:auto) {
  width: $width;
  height: $height;
}

* {
  margin : 0;
  padding :0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

body {
  @include width-height(100vw,100vh);
  overflow-x:hidden;
}

#root {
  @include width-height(inherit,inherit);
  
}

@media screen and (min-width: 1025px) {
  #root {
    background-color: rgba(25, 206, 96, 0.2);
    @include flex();

    & > #side-bar {
      background-color: rgba(25, 206, 96, 1);
      @include width-height(100px,100% );
      @include position(relative);

      & > ul {
        // background-color: red;
        list-style: none;
        @include width-height(100%);
        @include flex(center,center,column);
        @include position(absolute,auto ,auto ,150px,0 );

        & > li {
          @include width-height(30px,30px );
          background-color:rgba(255, 247, 225, 1); 
          margin: 10px 0;
        }
      }
    }

    & > #main-box {
      @include flex(center,center);
      @include width-height(100%,100% );

      & > #left-box {
        // background-color: salmon;
        @include width-height(486px,550px );
        @include position(relative,auto,2%,100px);

        & > #logo-happy-box {
          // background-color: yellowgreen;
          @include width-height(486px, 90px);
          @include flex(flex-end,center);

          & > #logo-box {
            color: rgba(25, 206, 96, 1);
            font-size: 36px;
            font-weight: 900;
            margin-right:50px;
          }

          & > #happy-box {
            color: rgba(247, 249, 250, 1);
            background-color: rgba(25, 206, 96, 1);
            border-radius: 10px;
            font-size: 12px;
            @include flex(center,center);
            padding : 4px 15px;
            @include position(relative,5px );
          }
        }

        & > #login-box {
          background-color: rgba(0, 0, 0, 0.1);
          @include width-height(486px, 270px);
          border-top-left-radius:8px ;
          border-top-right-radius:8px ;
          @include position(relative,10px );

          & > #top-box {
            @include flex();

            & > #Id-login-box {
              background-color: rgba(25, 206, 96, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(247, 249, 250, 1);
              border-top-left-radius:8px ;
              
            }
  
            & > #once-number-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(18, 32, 35, 1);
              border-top-right-radius:8px ;


            }
          }

          & > #buttom-box {
            @include width-height(100%,218px );
            @include flex(center,center,column);
            background-color: rgba(247, 249, 250, 1);
            box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);

            & > #first-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
              margin-bottom: 10px;
            }

            & > #second-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
            }

            & > #third-box{
              @include flex(flex-end,center);
              color: rgba(25, 206, 96, 1);
              font-size: 10px;
              // background-color: red;
              @include width-height(289px );
              margin: 5px 0;

            }

            & > #fourth-box {
              // background-color: yellow;
              @include width-height(289px );
              @include flex(space-between,flex-end);

              & > #login-button {
                @include width-height(190px ,36px);
                @include flex(center,center);
                background-color: rgba(25, 206, 96, 1);
                color: white;
                border-radius: 10px;
                font-size: 16px;
              }

              & > #ip-security {
                font-size: 10px;
                margin-left:3px;
                font-weight: 300;
              }

              & > #toggle {
                background-color:  rgba(25, 206, 96, 1);
                border-radius: 30px;
                @include width-height(40px,14px );
                @include flex(flex-end,center);
                @include position(relative);

                & > #circle {
                  background-color:  white;
                  @include width-height(12px,12px);
                  border-radius: 50%;
                  @include position(absolute,1px, 2px);
                }
              }
            }
          }
        }
      

        & > #kosdaq-box {
          background-color: rgba(25, 206, 96, 1);
          @include width-height(486px, 60px);
          @include flex(space-between,center);
          padding:0 30px;
          margin: 35px 0 35px 0;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);


          & > #text-box {
            color: white;
            font-size: 14px;
            font-weight: 700;
          }

          & > #stock-box {
            color: white;
            @include flex(space-between,center);
            font-size: 11px;
            @include width-height(150px );


            & > div:nth-child(2) {
              @include width-height(10px,10px);
              background-color: white;

            }
          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(20px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(30px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(25px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
            }
          }
        }

        & > #weather-box {
          background-color: rgba(247, 249, 250, 1);
          @include width-height(486px, 60px);
          @include flex(space-between,center);
          padding:0 30px;
          border-radius: 8px;


          & > #text-box {
            color: rgba(18, 32, 35, 1);
            font-size: 14px;
            font-weight: 700;
            
          }

          & > #info-box {
            color: rgba(18, 32, 35, 1);
            font-size: 10px;

          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(20px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
          }
        }


        }

      & > #right-box {
        @include width-height(486px,550px );
        @include position(relative,150px, auto,auto,2%);

        & > #top-box {
          background-color: rgba(247, 249, 250, 1);
          @include flex(center,center,column);
          @include width-height(486px,385px );
          padding: 0 30px;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
          z-index: 1;
          @include position(relative);


          & >  #news-text-box {
            font-size: 14px;
            @include width-height(100%);
            @include position(relative );
            font-weight: 700;
          }

          & > #img-box {
            @include width-height(100%,167px );
            background-color: rgba(25, 206, 96, 1);
            @include flex(center,center);
            color: white;
            font-size: 50px;
            margin: 15px 0;
            border-radius: 8px;
          }

          & > ul {
            list-style: none;
            @include flex(center,center);

            & > li {
              @include width-height(12px,12px );
              background-color: rgba(218, 225, 230, 1);
              margin: 0 4px;
            }

            & > li:nth-child(1) {
              background-color:rgba(25, 206, 96, 1) ;
            }
          }

          & > #title-box {
            @include flex(flex-start,center);
            // background-color: red;
            @include width-height(100%);
            margin: 3px 0;

            & > div:nth-child(1) {
              font-size: 20px;
            }

            & > div:nth-child(2) {
              font-size: 30px;
              margin: 0 20px;
              color: rgba(55, 160, 244, 1);

            }

            & > div:nth-child(3) {
              font-size: 14px;

              & > span {
                color:rgba(25, 206, 96, 1) ;
                font-size: 14px;
              }
            }

          }

          & > #text-box {
            font-size: 10px;
            @include width-height(100%);
          }

        }

        & > #bottom-box {
          padding: 0 30px;
          @include flex(space-between,center);
          @include width-height(100%,165px);
          background-color: rgba(247, 249, 250, 1);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          & > div:nth-child(1) {
            & > div {
              font-weight: 700;
              font-size: 14px;
              line-height: 2;
            }
          }

          & > div:nth-child(2) {
            margin:0 15px;

            & > div {
              @include width-height(5px,15px);
              background-color:rgba(25, 206, 96, 1) ;
              border-radius: 8px;
              margin: 14px 0;
            }
          }

          & > div:nth-child(3) {
            @include flex();
            flex-wrap: wrap;
            
            // background-color: blue;

            & > div {
              @include width-height(20% );
              font-size: 10px;
              flex-grow: 1;
              // background-color: salmon;
              margin:8px 10px;
              font-weight: 300;
            }

            & > div:nth-child(2) {
              @include flex (center,center);
            } 

            & > div:nth-child(5) {
              @include flex (center,center);
            } 

            & > div:nth-child(8) {
              background-color: rgba(25, 206, 96, 1);
              color: rgba(255, 255, 255, 1);
              @include flex (center,center);
              border-radius: 10px;
              padding: 3px 0;

            }
          }
        }
        
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #root {
    background-color: #F5F5F5;
    @include flex();
    @include width-height(100%,1366px );

    & > #side-bar {
      background-color: rgba(25, 206, 96, 1);
      @include width-height(100px,100% );
      @include position(relative);

      & > ul {
        // background-color: red;
        list-style: none;
        @include width-height(100%,1000px);
        @include flex(space-between,center,column);
        @include position(absolute,auto ,auto ,150px,0 );

        & > li {
          @include width-height(10px,10px );
          background-color:rgba(255, 247, 225, 1); 
          margin: 10px 0;
          border-radius: 50%;
        }
      }
    }

    & > #main-box {
      @include flex(center,center,column);
      @include width-height(100%,100% );

      & > #left-box {
        // background-color: salmon;
        @include width-height(486px,550px );
        margin-bottom: 35px;

        & > #logo-happy-box {
          // background-color: yellowgreen;
          @include width-height(486px, 90px);
          @include flex(center,center);
          @include position(relative,auto ,auto,auto,40px );

          & > #logo-box {
            color: rgba(25, 206, 96, 1);
            font-size: 36px;
            font-weight: 900;
            margin-right:50px;
          }

          & > #happy-box {
            color: rgba(247, 249, 250, 1);
            background-color: rgba(25, 206, 96, 1);
            border-radius: 10px;
            font-size: 12px;
            @include flex(center,center);
            padding : 4px 15px;
            @include position(relative,5px );
          }
        }

        & > #login-box {
          background-color: rgba(0, 0, 0, 0.1);
          @include width-height(486px, 270px);
          border-top-left-radius:8px ;
          border-top-right-radius:8px ;
          @include position(relative,10px );

          & > #top-box {
            @include flex();

            & > #Id-login-box {
              background-color: rgba(25, 206, 96, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(247, 249, 250, 1);
              border-top-left-radius:8px ;
              
            }
  
            & > #once-number-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(18, 32, 35, 1);
              border-top-right-radius:8px ;


            }
          }

          & > #buttom-box {
            @include width-height(100%,218px );
            @include flex(center,center,column);
            background-color: rgba(247, 249, 250, 1);
            box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);

            & > #first-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
              margin-bottom: 10px;
            }

            & > #second-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
            }

            & > #third-box{
              @include flex(flex-end,center);
              color: rgba(25, 206, 96, 1);
              font-size: 10px;
              // background-color: red;
              @include width-height(289px );
              margin: 5px 0;

            }

            & > #fourth-box {
              // background-color: yellow;
              @include width-height(289px );
              @include flex(space-between,flex-end);

              & > #login-button {
                @include width-height(190px ,36px);
                @include flex(center,center);
                background-color: rgba(25, 206, 96, 1);
                color: white;
                border-radius: 10px;
                font-size: 16px;
              }

              & > #ip-security {
                font-size: 10px;
                margin-left:3px;
                font-weight: 300;
              }

              & > #toggle {
                background-color:  rgba(25, 206, 96, 1);
                border-radius: 30px;
                @include width-height(40px,14px );
                @include flex(flex-end,center);
                @include position(relative);

                & > #circle {
                  background-color:  white;
                  @include width-height(12px,12px);
                  border-radius: 50%;
                  @include position(absolute,1px, 2px);
                }
              }
            }
          }
        }
      

        & > #kosdaq-box {
          background-color: rgba(25, 206, 96, 1);
          @include width-height(486px, 60px);
          @include flex(space-between,center);
          padding:0 30px;
          margin: 35px 0 35px 0;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);


          & > #text-box {
            color: white;
            font-size: 14px;
            font-weight: 700;
          }

          & > #stock-box {
            color: white;
            @include flex(space-between,center);
            font-size: 11px;
            @include width-height(150px );


            & > div:nth-child(2) {
              @include width-height(10px,10px);
              background-color: white;

            }
          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(20px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(30px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(25px,3px);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
            }
          }
        }

        & > #weather-box {
          background-color: rgba(247, 249, 250, 1);
          @include width-height(486px, 60px);
          @include flex(space-between,center);
          padding:0 30px;
          border-radius: 8px;


          & > #text-box {
            color: rgba(18, 32, 35, 1);
            font-size: 14px;
            font-weight: 700;
            
          }

          & > #info-box {
            color: rgba(18, 32, 35, 1);
            font-size: 10px;

          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(20px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
          }
        }


        }

      & > #right-box {
        @include width-height(486px,550px );

        & > #top-box {
          background-color: rgba(247, 249, 250, 1);
          @include flex(center,center,column);
          @include width-height(486px,385px );
          padding: 0 30px;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
          z-index: 1;
          @include position(relative);


          & >  #news-text-box {
            font-size: 14px;
            @include width-height(100%);
            @include position(relative );
            font-weight: 700;
          }

          & > #img-box {
            @include width-height(100%,167px );
            background-color: rgba(25, 206, 96, 1);
            @include flex(center,center);
            color: white;
            font-size: 50px;
            margin: 15px 0;
            border-radius: 8px;
          }

          & > ul {
            list-style: none;
            @include flex(center,center);

            & > li {
              @include width-height(12px,12px );
              background-color: rgba(218, 225, 230, 1);
              margin: 0 4px;
            }

            & > li:nth-child(1) {
              background-color:rgba(25, 206, 96, 1) ;
            }
          }

          & > #title-box {
            @include flex(flex-start,center);
            // background-color: red;
            @include width-height(100%);
            margin: 3px 0;

            & > div:nth-child(1) {
              font-size: 20px;
            }

            & > div:nth-child(2) {
              font-size: 30px;
              margin: 0 20px;
              color: rgba(55, 160, 244, 1);

            }

            & > div:nth-child(3) {
              font-size: 14px;

              & > span {
                color:rgba(25, 206, 96, 1) ;
                font-size: 14px;
              }
            }

          }

          & > #text-box {
            font-size: 10px;
            @include width-height(100%);
          }

        }

        & > #bottom-box {
          padding: 0 30px;
          @include flex(space-between,center);
          @include width-height(100%,165px);
          background-color: rgba(247, 249, 250, 1);
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          & > div:nth-child(1) {
            & > div {
              font-weight: 700;
              font-size: 14px;
              line-height: 2;
            }
          }

          & > div:nth-child(2) {
            margin:0 15px;

            & > div {
              @include width-height(5px,15px);
              background-color:rgba(25, 206, 96, 1) ;
              border-radius: 8px;
              margin: 14px 0;
            }
          }

          & > div:nth-child(3) {
            @include flex();
            flex-wrap: wrap;
            
            // background-color: blue;

            & > div {
              @include width-height(20% );
              font-size: 10px;
              flex-grow: 1;
              // background-color: salmon;
              margin:8px 10px;
              font-weight: 300;
            }

            & > div:nth-child(2) {
              @include flex (center,center);
            } 

            & > div:nth-child(5) {
              @include flex (center,center);
            } 

            & > div:nth-child(8) {
              background-color: rgba(25, 206, 96, 1);
              color: rgba(255, 255, 255, 1);
              @include flex (center,center);
              border-radius: 10px;
              padding: 3px 0;

            }
          }
        }
        
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #root {
    background-color: #F5F5F5;
    @include flex();
    @include width-height(100%,1266px );

    & > #side-bar {
      background-color: rgba(25, 206, 96, 1);
      @include width-height(40px,100% );
      @include position(relative);

      & > ul {
        // background-color: red;
        list-style: none;
        @include width-height(100%,1000px);
        @include flex(flex-start,center,column);
        @include position(absolute,auto ,auto ,200px,0 );

        & > li {
          @include width-height(15px,15px );
          background-color:rgba(255, 247, 225, 1); 
          margin: 10px 0;
          border-radius: 50%;
        }
      }
    }

    & > #main-box {
      @include flex(center,center,column);
      @include width-height(100%,100% );

      & > #left-box {
        // background-color: salmon;
        @include width-height(326px,450px );
        margin-bottom: 35px;

        & > #logo-happy-box {
          // background-color: yellowgreen;
          @include width-height(326px, 90px);
          @include flex(center,center);
          @include position(relative,auto ,auto,auto,40px );

          & > #logo-box {
            color: rgba(25, 206, 96, 1);
            font-size: 36px;
            font-weight: 900;
            margin-right:50px;
          }

          & > #happy-box {
            color: rgba(247, 249, 250, 1);
            background-color: rgba(25, 206, 96, 1);
            border-radius: 10px;
            font-size: 12px;
            @include flex(center,center);
            padding : 4px 15px;
            @include position(relative,5px );
          }
        }

        & > #login-box {
          background-color: rgba(0, 0, 0, 0.1);
          @include width-height(326px, 205px);
          border-top-left-radius:8px ;
          border-top-right-radius:8px ;
          @include position(relative,10px );

          & > #top-box {
            @include flex();

            & > #Id-login-box {
              background-color: rgba(25, 206, 96, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(247, 249, 250, 1);
              border-top-left-radius:8px ;
              
            }
  
            & > #once-number-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(100%,52px);
              @include flex(center,center);
              font-size: 12px;
              color: rgba(18, 32, 35, 1);
              border-top-right-radius:8px ;


            }
          }

          & > #buttom-box {
            @include width-height(100%,153px );
            @include flex(center,center,column);
            background-color: rgba(247, 249, 250, 1);
            box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);

            & > #first-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
              margin-bottom: 10px;
            }

            & > #second-box {
              background-color: rgba(218, 225, 230, 1);
              @include width-height(289px,32px );
              @include flex(center,flex-start,column);
              border-radius: 5px;
              color: white;
              padding: 0 20px;
              font-size: 12px;
            }

            & > #third-box{
              @include flex(flex-end,center);
              color: rgba(25, 206, 96, 1);
              font-size: 10px;
              // background-color: red;
              @include width-height(289px );
              margin: 5px 0;

            }

            & > #fourth-box {
              // background-color: yellow;
              @include width-height(289px );
              @include flex(space-between,flex-end);

              & > #login-button {
                @include width-height(190px ,36px);
                @include flex(center,center);
                background-color: rgba(25, 206, 96, 1);
                color: white;
                border-radius: 10px;
                font-size: 16px;
              }

              & > #ip-security {
                font-size: 10px;
                margin-left:3px;
                font-weight: 300;
              }

              & > #toggle {
                background-color:  rgba(25, 206, 96, 1);
                border-radius: 30px;
                @include width-height(40px,14px );
                @include flex(flex-end,center);
                @include position(relative);

                & > #circle {
                  background-color:  white;
                  @include width-height(12px,12px);
                  border-radius: 50%;
                  @include position(absolute,1px, 2px);
                }
              }
            }
          }
        }
      

        & > #kosdaq-box {
          background-color:#F7F9FA;
          @include width-height(326px, 60px);
          @include flex(space-between,center);
          @include position(relative);
          z-index: 1;
          padding:0 30px;
          margin: 35px 0 35px 0;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);


          & > #text-box {
            font-size: 13px;
            font-weight: 700;
          }

          & > #stock-box {
            @include flex(space-between,center);
            font-size: 10px;
            @include width-height(150px );


            & > div:nth-child(2) {
              @include width-height(10px,10px);
              background-color: rgba(25, 206, 96, 1);

            }
          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(20px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(25px,3px);
              background-color:  rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
          }
        }

        & > #weather-box {
          background-color:#F7F9FA;
          @include width-height(326px, 60px);
          @include flex(space-between,center);
          padding:0 30px;
          border-radius: 8px;
          @include position(relative,-50px,auto,auto,30px);


          & > #text-box {
            color: rgba(18, 32, 35, 1);
            font-size: 13px;
            font-weight: 700;
            
          }

          & > #info-box {
            color: rgba(18, 32, 35, 1);
            font-size: 10px;

          }
            
          & > #menu-button {
            @include width-height(20px,20px);
  
            & > div:nth-child(1) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
  
            & > div:nth-child(2) {
              @include width-height(20px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
              margin:5px 0;
            }
  
            & > div:nth-child(3) {
              @include width-height(30px,3px);
              background-color: rgba(25, 206, 96, 1);
              border-radius: 10px;
            }
          }
        }


        }

      & > #right-box {
        @include width-height(326px,550px );

        & > #top-box {
          background-color:#F7F9FA;
          @include flex(center,center,column);
          @include width-height(326px,385px );
          padding: 0 30px;
          border-radius: 8px;
          box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
          z-index: 1;
          @include position(relative);


          & >  #news-text-box {
            font-size: 13px;
            @include width-height(100%);
            @include position(relative );
            font-weight: 700;
            // background-color: salmon;
          }

          & > #img-box {
            @include width-height(100%,167px );
            background-color: rgba(25, 206, 96, 1);
            @include flex(center,center);
            color: white;
            font-size: 50px;
            margin: 15px 0;
            border-radius: 8px;
          }

          & > ul {
            @include width-height(100% );
            // background-color: red;
            list-style: none;
            @include flex(flex-start,center);

            & > li {
              @include width-height(8px,8px );
              background-color: rgba(218, 225, 230, 1);
              margin: 0 4px;
            }

            & > li:nth-child(1) {
              background-color:rgba(25, 206, 96, 1) ;
            }
          }

          & > #title-box {
            @include flex(flex-start,center);
            // background-color: red;
            @include width-height(100%);
            margin: 3px 0;

            & > div:nth-child(1) {
              font-size: 16px;
            }

            & > div:nth-child(2) {
              font-size: 20px;
              margin: 0 5px;
              color: rgba(55, 160, 244, 1);

            }

            & > div:nth-child(3) {
              font-size: 12px;

              & > span {
                color:rgba(25, 206, 96, 1) ;
              }
            }

          }

          & > #text-box {
            font-size: 10px;
            @include width-height(100%);
          }

        }

        & > #bottom-box {
          @include position(relative, -120px, auto, auto,25px );
          // border: 2px solid black;
          padding: 0 30px;
          @include flex(space-between,flex-end);
          @include width-height(100%,231px);
          background-color: #F7F9FA;
          border-radius: 8px;

          & > div:nth-child(1) {
            & > div {
              font-weight: 700;
              font-size: 12px;
              line-height: 2.4;
              @include position(relative, -8px);
            }
          }

          & > div:nth-child(2) {
            margin:0 5px;

            & > div {
              @include width-height(5px,15px);
              background-color:rgba(25, 206, 96, 1) ;
              border-radius: 8px;
              margin: 14px 0;
            }
          }

          & > div:nth-child(3) {
            @include flex();
            @include width-height(100% );
            flex-wrap: wrap;
            @include position(relative, -3.5px);
            
            // background-color: blue;

            & > div {
              // @include width-height(20% );
              font-size: 10px;
              flex-grow: 1;
              // background-color: salmon;
              margin:7px 2px;
              font-weight: 300;
            }

            & > div:nth-child(2) {
              @include flex (center,center);
            } 

            & > div:nth-child(5) {
              @include flex (center,center);
            } 

            & > div:nth-child(8) {
              background-color: rgba(25, 206, 96, 1);
              color: rgba(255, 255, 255, 1);
              @include flex (center,center);
              border-radius: 10px;
              padding: 2px 0;

            }
          }
        }
        
      }
    }
  }
}




