* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  width: inherit;
  height: inherit;
}

@media screen and (min-width: 1025px) {
  #root {
    background-color: rgba(25, 206, 96, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  #root > #side-bar {
    background-color: rgb(25, 206, 96);
    width: 100px;
    height: 100%;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #side-bar > ul {
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 150px;
    left: 0;
  }
  #root > #side-bar > ul > li {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 247, 225);
    margin: 10px 0;
  }
  #root > #main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  #root > #main-box > #left-box {
    width: 486px;
    height: 550px;
    position: relative;
    top: auto;
    right: 2%;
    bottom: 100px;
    left: auto;
  }
  #root > #main-box > #left-box > #logo-happy-box {
    width: 486px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #logo-happy-box > #logo-box {
    color: rgb(25, 206, 96);
    font-size: 36px;
    font-weight: 900;
    margin-right: 50px;
  }
  #root > #main-box > #left-box > #logo-happy-box > #happy-box {
    color: rgb(247, 249, 250);
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4px 15px;
    position: relative;
    top: 5px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box {
    background-color: rgba(0, 0, 0, 0.1);
    width: 486px;
    height: 270px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    top: 10px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #top-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #Id-login-box {
    background-color: rgb(25, 206, 96);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(247, 249, 250);
    border-top-left-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #once-number-box {
    background-color: rgb(218, 225, 230);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(18, 32, 35);
    border-top-right-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box {
    width: 100%;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 249, 250);
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #first-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #second-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #third-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: rgb(25, 206, 96);
    font-size: 10px;
    width: 289px;
    height: auto;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box {
    width: 289px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #login-button {
    width: 190px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(25, 206, 96);
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #ip-security {
    font-size: 10px;
    margin-left: 3px;
    font-weight: 300;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle {
    background-color: rgb(25, 206, 96);
    border-radius: 30px;
    width: 40px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle > #circle {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 2px;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box {
    background-color: rgb(25, 206, 96);
    width: 486px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    margin: 35px 0 35px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #kosdaq-box > #text-box {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 11px;
    width: 150px;
    height: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box > div:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: white;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(1) {
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(2) {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(3) {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box {
    background-color: rgb(247, 249, 250);
    width: 486px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    border-radius: 8px;
  }
  #root > #main-box > #left-box > #weather-box > #text-box {
    color: rgb(18, 32, 35);
    font-size: 14px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #weather-box > #info-box {
    color: rgb(18, 32, 35);
    font-size: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(1) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(3) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #right-box {
    width: 486px;
    height: 550px;
    position: relative;
    top: 150px;
    right: auto;
    bottom: auto;
    left: 2%;
  }
  #root > #main-box > #right-box > #top-box {
    background-color: rgb(247, 249, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 486px;
    height: 385px;
    padding: 0 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
    z-index: 1;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #right-box > #top-box > #news-text-box {
    font-size: 14px;
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    font-weight: 700;
  }
  #root > #main-box > #right-box > #top-box > #img-box {
    width: 100%;
    height: 167px;
    background-color: rgb(25, 206, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 50px;
    margin: 15px 0;
    border-radius: 8px;
  }
  #root > #main-box > #right-box > #top-box > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #top-box > ul > li {
    width: 12px;
    height: 12px;
    background-color: rgb(218, 225, 230);
    margin: 0 4px;
  }
  #root > #main-box > #right-box > #top-box > ul > li:nth-child(1) {
    background-color: rgb(25, 206, 96);
  }
  #root > #main-box > #right-box > #top-box > #title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3px 0;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(1) {
    font-size: 20px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(2) {
    font-size: 30px;
    margin: 0 20px;
    color: rgb(55, 160, 244);
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) {
    font-size: 14px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) > span {
    color: rgb(25, 206, 96);
    font-size: 14px;
  }
  #root > #main-box > #right-box > #top-box > #text-box {
    font-size: 10px;
    width: 100%;
    height: auto;
  }
  #root > #main-box > #right-box > #bottom-box {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 165px;
    background-color: rgb(247, 249, 250);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(1) > div {
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) {
    margin: 0 15px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) > div {
    width: 5px;
    height: 15px;
    background-color: rgb(25, 206, 96);
    border-radius: 8px;
    margin: 14px 0;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div {
    width: 20%;
    height: auto;
    font-size: 10px;
    flex-grow: 1;
    margin: 8px 10px;
    font-weight: 300;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(8) {
    background-color: rgb(25, 206, 96);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 3px 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #root {
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 1366px;
  }
  #root > #side-bar {
    background-color: rgb(25, 206, 96);
    width: 100px;
    height: 100%;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #side-bar > ul {
    list-style: none;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 150px;
    left: 0;
  }
  #root > #side-bar > ul > li {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 247, 225);
    margin: 10px 0;
    border-radius: 50%;
  }
  #root > #main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #root > #main-box > #left-box {
    width: 486px;
    height: 550px;
    margin-bottom: 35px;
  }
  #root > #main-box > #left-box > #logo-happy-box {
    width: 486px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: 40px;
  }
  #root > #main-box > #left-box > #logo-happy-box > #logo-box {
    color: rgb(25, 206, 96);
    font-size: 36px;
    font-weight: 900;
    margin-right: 50px;
  }
  #root > #main-box > #left-box > #logo-happy-box > #happy-box {
    color: rgb(247, 249, 250);
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4px 15px;
    position: relative;
    top: 5px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box {
    background-color: rgba(0, 0, 0, 0.1);
    width: 486px;
    height: 270px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    top: 10px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #top-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #Id-login-box {
    background-color: rgb(25, 206, 96);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(247, 249, 250);
    border-top-left-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #once-number-box {
    background-color: rgb(218, 225, 230);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(18, 32, 35);
    border-top-right-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box {
    width: 100%;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 249, 250);
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #first-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #second-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #third-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: rgb(25, 206, 96);
    font-size: 10px;
    width: 289px;
    height: auto;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box {
    width: 289px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #login-button {
    width: 190px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(25, 206, 96);
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #ip-security {
    font-size: 10px;
    margin-left: 3px;
    font-weight: 300;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle {
    background-color: rgb(25, 206, 96);
    border-radius: 30px;
    width: 40px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle > #circle {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 2px;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box {
    background-color: rgb(25, 206, 96);
    width: 486px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    margin: 35px 0 35px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #kosdaq-box > #text-box {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 11px;
    width: 150px;
    height: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box > div:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: white;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(1) {
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(2) {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(3) {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box {
    background-color: rgb(247, 249, 250);
    width: 486px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    border-radius: 8px;
  }
  #root > #main-box > #left-box > #weather-box > #text-box {
    color: rgb(18, 32, 35);
    font-size: 14px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #weather-box > #info-box {
    color: rgb(18, 32, 35);
    font-size: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(1) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(3) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #right-box {
    width: 486px;
    height: 550px;
  }
  #root > #main-box > #right-box > #top-box {
    background-color: rgb(247, 249, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 486px;
    height: 385px;
    padding: 0 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
    z-index: 1;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #right-box > #top-box > #news-text-box {
    font-size: 14px;
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    font-weight: 700;
  }
  #root > #main-box > #right-box > #top-box > #img-box {
    width: 100%;
    height: 167px;
    background-color: rgb(25, 206, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 50px;
    margin: 15px 0;
    border-radius: 8px;
  }
  #root > #main-box > #right-box > #top-box > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #top-box > ul > li {
    width: 12px;
    height: 12px;
    background-color: rgb(218, 225, 230);
    margin: 0 4px;
  }
  #root > #main-box > #right-box > #top-box > ul > li:nth-child(1) {
    background-color: rgb(25, 206, 96);
  }
  #root > #main-box > #right-box > #top-box > #title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3px 0;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(1) {
    font-size: 20px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(2) {
    font-size: 30px;
    margin: 0 20px;
    color: rgb(55, 160, 244);
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) {
    font-size: 14px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) > span {
    color: rgb(25, 206, 96);
    font-size: 14px;
  }
  #root > #main-box > #right-box > #top-box > #text-box {
    font-size: 10px;
    width: 100%;
    height: auto;
  }
  #root > #main-box > #right-box > #bottom-box {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 165px;
    background-color: rgb(247, 249, 250);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(1) > div {
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) {
    margin: 0 15px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) > div {
    width: 5px;
    height: 15px;
    background-color: rgb(25, 206, 96);
    border-radius: 8px;
    margin: 14px 0;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div {
    width: 20%;
    height: auto;
    font-size: 10px;
    flex-grow: 1;
    margin: 8px 10px;
    font-weight: 300;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(8) {
    background-color: rgb(25, 206, 96);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 3px 0;
  }
}
@media screen and (max-width: 768px) {
  #root {
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 1266px;
  }
  #root > #side-bar {
    background-color: rgb(25, 206, 96);
    width: 40px;
    height: 100%;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #side-bar > ul {
    list-style: none;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 200px;
    left: 0;
  }
  #root > #side-bar > ul > li {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 247, 225);
    margin: 10px 0;
    border-radius: 50%;
  }
  #root > #main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #root > #main-box > #left-box {
    width: 326px;
    height: 450px;
    margin-bottom: 35px;
  }
  #root > #main-box > #left-box > #logo-happy-box {
    width: 326px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: 40px;
  }
  #root > #main-box > #left-box > #logo-happy-box > #logo-box {
    color: rgb(25, 206, 96);
    font-size: 36px;
    font-weight: 900;
    margin-right: 50px;
  }
  #root > #main-box > #left-box > #logo-happy-box > #happy-box {
    color: rgb(247, 249, 250);
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4px 15px;
    position: relative;
    top: 5px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box {
    background-color: rgba(0, 0, 0, 0.1);
    width: 326px;
    height: 205px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    top: 10px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #top-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #Id-login-box {
    background-color: rgb(25, 206, 96);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(247, 249, 250);
    border-top-left-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #top-box > #once-number-box {
    background-color: rgb(218, 225, 230);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    color: rgb(18, 32, 35);
    border-top-right-radius: 8px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box {
    width: 100%;
    height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 249, 250);
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #first-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #second-box {
    background-color: rgb(218, 225, 230);
    width: 289px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 0 20px;
    font-size: 12px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #third-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: rgb(25, 206, 96);
    font-size: 10px;
    width: 289px;
    height: auto;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box {
    width: 289px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #login-button {
    width: 190px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(25, 206, 96);
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #ip-security {
    font-size: 10px;
    margin-left: 3px;
    font-weight: 300;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle {
    background-color: rgb(25, 206, 96);
    border-radius: 30px;
    width: 40px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #login-box > #buttom-box > #fourth-box > #toggle > #circle {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 2px;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box {
    background-color: #F7F9FA;
    width: 326px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    padding: 0 30px;
    margin: 35px 0 35px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
  }
  #root > #main-box > #left-box > #kosdaq-box > #text-box {
    font-size: 13px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 10px;
    width: 150px;
    height: auto;
  }
  #root > #main-box > #left-box > #kosdaq-box > #stock-box > div:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: rgb(25, 206, 96);
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(1) {
    width: 20px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(2) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #kosdaq-box > #menu-button > div:nth-child(3) {
    width: 25px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box {
    background-color: #F7F9FA;
    width: 326px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    border-radius: 8px;
    position: relative;
    top: -50px;
    right: auto;
    bottom: auto;
    left: 30px;
  }
  #root > #main-box > #left-box > #weather-box > #text-box {
    color: rgb(18, 32, 35);
    font-size: 13px;
    font-weight: 700;
  }
  #root > #main-box > #left-box > #weather-box > #info-box {
    color: rgb(18, 32, 35);
    font-size: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button {
    width: 20px;
    height: 20px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(1) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
    margin: 5px 0;
  }
  #root > #main-box > #left-box > #weather-box > #menu-button > div:nth-child(3) {
    width: 30px;
    height: 3px;
    background-color: rgb(25, 206, 96);
    border-radius: 10px;
  }
  #root > #main-box > #right-box {
    width: 326px;
    height: 550px;
  }
  #root > #main-box > #right-box > #top-box {
    background-color: #F7F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 326px;
    height: 385px;
    padding: 0 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(116, 116, 116, 0.342);
    z-index: 1;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #right-box > #top-box > #news-text-box {
    font-size: 13px;
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    font-weight: 700;
  }
  #root > #main-box > #right-box > #top-box > #img-box {
    width: 100%;
    height: 167px;
    background-color: rgb(25, 206, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 50px;
    margin: 15px 0;
    border-radius: 8px;
  }
  #root > #main-box > #right-box > #top-box > ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #top-box > ul > li {
    width: 8px;
    height: 8px;
    background-color: rgb(218, 225, 230);
    margin: 0 4px;
  }
  #root > #main-box > #right-box > #top-box > ul > li:nth-child(1) {
    background-color: rgb(25, 206, 96);
  }
  #root > #main-box > #right-box > #top-box > #title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3px 0;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(1) {
    font-size: 16px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(2) {
    font-size: 20px;
    margin: 0 5px;
    color: rgb(55, 160, 244);
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) {
    font-size: 12px;
  }
  #root > #main-box > #right-box > #top-box > #title-box > div:nth-child(3) > span {
    color: rgb(25, 206, 96);
  }
  #root > #main-box > #right-box > #top-box > #text-box {
    font-size: 10px;
    width: 100%;
    height: auto;
  }
  #root > #main-box > #right-box > #bottom-box {
    position: relative;
    top: -120px;
    right: auto;
    bottom: auto;
    left: 25px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 231px;
    background-color: #F7F9FA;
    border-radius: 8px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(1) > div {
    font-weight: 700;
    font-size: 12px;
    line-height: 2.4;
    position: relative;
    top: -8px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) {
    margin: 0 5px;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(2) > div {
    width: 5px;
    height: 15px;
    background-color: rgb(25, 206, 96);
    border-radius: 8px;
    margin: 14px 0;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    top: -3.5px;
    right: auto;
    bottom: auto;
    left: auto;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div {
    font-size: 10px;
    flex-grow: 1;
    margin: 7px 2px;
    font-weight: 300;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #root > #main-box > #right-box > #bottom-box > div:nth-child(3) > div:nth-child(8) {
    background-color: rgb(25, 206, 96);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 2px 0;
  }
}/*# sourceMappingURL=style.css.map */